
    .agance_show{
         margin-top: -80px;
     }
     .siege_info{
         margin-left: -35px;
         margin-top: 5px;
     }
     .bagage_show{ width: 50%;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding:10px;margin-left:13em;}
     .section_sm{
         opacity: 0;
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
    .navbar-mobile-show{
        display: none;
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 0px;

    }

    .navbar-admin-mobile-show{
        display: none;
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    .show-logo-toucki{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        width: 0px;
        height: 0px;
   }
   .show-logo-a-toucki{
    visibility: visible;
    opacity: 1;
    z-index: 1;
   }

     .section-agence-information{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }

 #topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: rgba(3, 28, 151, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    display: none;
 }
  #agenceBtn{
    visibility: hidden;
    width: 0px;
    height: 0px;
    }
    .home-about-img{
        padding: -20rem;
    }
    .home-about-img img{
        width: 100%;
        height:auto;
    }




.hero-section .bg-ico-hero{
    background-image:url(./user/assets/images/siege.jpg);background-size:cover;background-position:top;
    height: 100px;
 }

  
 

 .home-section-mobile{
    visibility: hidden;
    width: 0px;
    height: 0px;
 }
 .section-responsiveP{
    visibility: visible;
    opacity: 1;
    z-index: 1;
 }
 .setting-img{
    visibility: hidden;
    width: 0px;
    height: 0px;
 }
 .home-about-lg-button{
    visibility: visible;
    opacity: 1;
 }
 .home-about-sm-button{
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
 }
 .media .avatar-md span img{
    width: 100%;height:100%;border-radius: 100%;
 }
 @media only screen and (max-width:1000px) {
   
     .row_pricipal{
         padding-top: 35px;
     }
     .row_pricipal .card_show{
         width: 100%;
     }
     .card_hide{
         visibility: hidden;
         opacity: 0;
         width: 0px;
         height: 0px;
     }
    .section-responsive{
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
        padding-top: 10px;
        margin-top: 30px;
        z-index: 0;
    }
    .verification-text-mobile{
        margin-top: 30px;
        margin-bottom: -9rem;
    }
    .img-verification-mobile{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        width: 0px;
        height: 0px;
    }
    .settings-section-mobile{
        margin-top: -80px;
    }
     .button-items{
         display: flex;
         text-align: center;
     }
     .button-items a{
         font-size: 10px;
     }
     .btn-sign-ine{
         display: flex;
     }
     .btn-sign-ine a{
         font-size: 10px;
         margin-left: 5px;
     }
     .agance_show{
         margin-top: 10px;
     }
      .siege_info{
         margin-left: 0px;
     }
     .siege_info span{
         display: block;
     }
     .siege_info .slash{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .card_gif{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .siege_show_text{
         text-align: center;
     }
     .siege_show_title{
         font-size: 2em;
         font-weight: 900;
         padding-top: 20px;
         width: 100%;
     }

     #topBtn{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
    .bagage_show{
        width: 100%;
        margin-left:0px;
    }
     .section_sm{
         opacity: 1;
         visibility: visible;
         width: 100%;
         height: 100%;
     }
     .section_lg{
         opacity: 0;
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .contact-login-img{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .section-search{
         margin-top: 30px;
     }
     .contact-login-title{
         width: 100%;
     }
     .flex-column-mobile{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
     }
    .navbar-mobile-show{
        display: flex;
        margin-left: -45px;
        visibility: visible;
        width: 100%;
        height: auto;
    }
    .navbar-mobile-show .nav-item{
        list-style: none;
        color: #74788d;
    }
    .navbar-mobile-show .nav-item a{
        color: #74788d;
    }
    .navbar-logo{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar-mobile-show .drop-down-mobile  {
        position: absolute;
        right: 0;
        /* top: 10px; */
        margin-top: -8px;
        margin-right: 20px;
    }
    .nav-item .nav-link.active{color:#556ee6}
    .navbar-mobile-show .drop-down-mobile .dropdown .dropdown-menu{
        position: absolute;
        right: 0;
    }
    .navbar-mobile-show .nav-item .fa-fa-item{
        font-size: 15px;
    }
    .coli-h1{
        margin-top: 50px;
    }
    .flex-column-moblie{
        display: flex!important;
        flex-direction:column!important;
    }
    .section-siege-mobile{
        margin-top: 30px;
    }
    .section-agence-information{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .setting-img{
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    .setting-mobile{
        padding-left: 5px;
    }
    .setting-a-m{
        margin-left: 10px;
        margin-right: 10px;
    }
   
    .home-section-mobile{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        margin-top: -30px;
        margin-bottom: 50px;
    }
    .home-section-mobile .container .row img{
        width: 100%;
    }

   section #agenceBtn{
        position: fixed;
        bottom: 40px;
        right: 40px;
        font-size: 22px;
        width: 50px;
        height: 50px;
        background-color: rgba(3, 28, 151, 0.4);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        display: none;
    }
    .home-about-lg-button{
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 0px;
    
    }
    .home-about-sm-button{
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
 }



.button-client-bar{
    visibility: visible;
    opacity: 1;
}
 /* Pour le responsive admin client  */
@media only screen and (max-width:1000px) {
    .show-logo-toucki{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        background-color: none;
        position: absolute;
        top: -10px;
    }
   .show-brand-box-bg{
        background: white !important;
        width: 0px;
        height: 0px;
    }
   .show-logo-a-toucki{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        width: 0px;
        height: 0px;
    }
   .button-client-bar{
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .navbar-admin-mobile-show{
        padding-top: 8px;
        display: flex;
        margin-left: -45px;
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: auto;
    }
    .navbar-admin-mobile-show .nav-item{
        list-style: none;
        color: #74788d;
    }
    .navbar-admin-mobile-show .nav-item a{
        color: #74788d;
    }
    
    .navbar-admin-mobile-show .drop-down-mobile  {
        position: absolute;
        right: 0;
        /* top: 10px; */
        margin-top: -8px;
        margin-right: 20px;
    }
    .nav-item .nav-link.active{color:#556ee6}
    .navbar-admin-mobile-show .drop-down-mobile .dropdown .dropdown-menu{
        position: absolute;
        right: 0;
    }
    .navbar-admin-mobile-show .nav-item .fa-fa-item{
        font-size: 15px;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
}
 

