 @media only screen and (max-width:700px) {
     .row_pricipal{
         padding-top: 20px;
     }
     .card_show{
         width: 100%;
     }
     .card_hide{
         visibility: hidden;
         opacity: 0;
         width: 0px;
         height: 0px;
     }

     .button-items{
         display: flex;
         text-align: center;
     }
     .button-items a{
         font-size: 10px;
     }
     .btn-sign-ine{
         display: flex;
     }
     .btn-sign-ine a{
         font-size: 10px;
         margin-left: 5px;
     }
 }

 #topBtn{
     position: fixed;
     bottom: 40px;
     right: 40px;
     font-size: 22px;
     width: 50px;
     height: 50px;
     background-color: #e74c3c;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 100%;
     display: none;
 }