
    .agance_show{
         margin-top: -80px;
     }
     .siege_info{
         margin-left: -35px;
         margin-top: 5px;
     }
     .bagage_show{ width: 50%;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding:10px;margin-left:13em;}
     .section_sm{
         opacity: 0;
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
 @media only screen and (max-width:700px) {
     .row_pricipal{
         padding-top: 30px;
     }
     .row_pricipal .card_show{
         width: 100%;
     }
     .card_hide{
         visibility: hidden;
         opacity: 0;
         width: 0px;
         height: 0px;
     }

     .button-items{
         display: flex;
         text-align: center;
     }
     .button-items a{
         font-size: 10px;
     }
     .btn-sign-ine{
         display: flex;
     }
     .btn-sign-ine a{
         font-size: 10px;
         margin-left: 5px;
     }
     .agance_show{
         margin-top: 10px;
     }
      .siege_info{
         margin-left: 0px;
     }
     .siege_info span{
         display: block;
     }
     .siege_info .slash{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .card_gif{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
     .siege_show_text{
         text-align: center;
     }
     .siege_show_title{
         font-size: 2em;
         font-weight: 900;
         padding-top: 20px;
         width: 100%;
     }

     #topBtn{
         visibility: hidden;
         width: 0px;
         height: 0px;
     }
    .bagage_show{
        width: 100%;
        margin-left:0px;
    }
     .section_sm{
         opacity: 1;
         visibility: visible;
         width: 100%;
         height: 100%;
     }
     .section_lg{
         opacity: 0;
         visibility: hidden;
         width: 0px;
         height: 0px;
     }

    
     
 }

 #topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: rgba(3, 28, 151, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    display: none;
 }

 /* .hero-section.bg-ico-hero{background-image:url(../images/crypto/banier_1.jpg);background-size:cover;background-position:top;
 height: 100px;
 } */

.hero-section.bg-agence{
     background-image:url(../images/crypto/banier_bus.jpg);background-size:cover;background-position:top;
 height: 100px;
 }