       *,*::before,*::after{
            box-sizing: border-box;
        }
        table{
            width: 100%;
        }
       
        th,td{
            padding: 10px;
            text-align: left;
        }
        

        
        @media only screen and (max-width:700px) {
            .responsive-table table,
            .responsive-table thead,
            .responsive-table tbody,
            .responsive-table tr,
            .responsive-table th,
            .responsive-table td{
                display: block;
                
            }
            .responsive-table td{padding-left: 150px;
            position: relative;
            margin-top: -1px;
            background-color: #fff;
            
            }
            .responsive-table td:nth-child(odd){background-color: #eee;
                 padding-left:10px;
            }
            .responsive-table td::before{
                content: attr(data-label);
                position: absolute;
                top: 0;
                left: 0;
                width: 110px;
                bottom: 0;
                background-color: #3753db;color: #fff;
                display: flex;
                align-items: center;
                padding: 10px;
                font-weight: bold;
                padding-left: 2px;
               
            }
            .responsive-table tr{
                margin-bottom:2em ;
            }
            .responsive-table thead{display: none;}
            .responsive-table  th + td {
                padding-left: 10px;
            }
            .responsive-table  th + td{
                display: none;
            }
            .responsive-table tbody tr td{
                padding-left: 50px;
                text-align: right;
            }
            .responsive-table tbody tr{
               box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                border-radius: 10px;
            }
            .search-box{
                width: 100%;
            }
            .button_ajout_client{
            width: 100%;
            text-align: center;
            }
            .div_button{
                float: right;
                margin-top: -12px;
            }
        }